[submodule "lib/zprezto"]
	path = lib/zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "lib/rupa/z"]
	path = lib/rupa/z
	url = https://github.com/rupa/z.git
[submodule "lib/tevren/git-zsh-plugin"]
	path = lib/tevren/git-zsh-plugin
	url = https://github.com/tevren/git-zsh-plugin.git
